<header id="header">
    <div class="container">
        <div class="row align-items-center justify-content-between" style="display: flex; justify-content: space-between;">
            <div id="logo">
                <a href="/"><img width="54px" src="/img/logo.png" alt="" title="" /></a>
                <span style="color: white">ONLINE ENGLISH LEANER</span>
            </div>

            <ul class="nav-menu" style="margin-left: auto; display: flex; align-items: center;">
                <li class="menu-active"><a href="/">Trang chủ</a></li>
                <li><a href="/classes">Lớp học</a></li>

                <% if (user) {%>

                    <li class="dropdown user user-menu">
                        <a href="../#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/img/avatars/<%=user.avatarUrl%>" class="user-image" alt="User Image">
                            <span class="hidden-xs"> <%=user.lastName +' '+user.firstName %> </span>
                        </a>
                        <ul class="dropdown-menu" style="margin-top: -2px; margin-left: -176px">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="/img/avatars/<%=user.avatarUrl%>" class="img-circle" alt="User Image">
                                <p style="color: black">
                                    <%=user.lastName +' '+user.firstName %>
                                        <small> <%=user.phoneNumber%> </small>
                                </p>
                            </li>

                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="/profile" class="btn btn-default btn-flat">Hồ sơ</a>
                                </div>
                                <div class="pull-right">
                                    <a href="/logout" class="btn btn-default btn-flat">Đăng xuất</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <%} else {%>
                        <li><a href="/login.html">Đăng nhập</a></li>
                        <%}%>
            </ul>

            <!-- #nav-menu-container -->
        </div>
    </div>
</header>